@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@200;300;400;500&family=Mirza&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Karla', sans-serif;
}

.router-link-active, .router-link-exact-active{
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);
    margin: -2px -6px;
    padding:  2px  6px;
}

.verses li:last-child{
    @apply border-none;
}